<div class="showcase-container">
  <div class="showcase__reverse">
    <div class="showcase-text">
      <h3 class="primary-text">Lorem ipsum dolor</h3>
      <p class="secondary-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>
    </div>
    <div class="showcase-image">
      <img src="assets/images/app1.png" alt="" />
    </div>
  </div>
  <div class="showcase">
    <div class="showcase-text">
      <h3 class="primary-text">Lorem ipsum dolor</h3>
      <p class="secondary-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>
    </div>
    <div class="showcase-image">
      <img src="assets/images/app2.png" alt="" />
    </div>
  </div>
</div>
