<div class="testament-container">
  <div class="testament-image">
    <img src="assets/images/user-photo.png" alt="" />
  </div>
  <div class="testament-text">
    <h3 class="tertiary-text">Template is awesome</h3>
    <p class="secondary-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
      leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
      lectus vel imperdiet ullamcorper.
    </p>

    
    <p class="secondary-text"><span class="testament-bold">John Doe</span> <br>CEO at Crio.com</p>
  </div>
</div>
