

.feature-container {
  position: relative;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 3rem;

  font-family: 'Montserrat';

  h3, p {
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 0.8rem;
    font-weight: 500;
  }

  p {
    font-size: 0.7rem;
    font-weight: 400;
  }
}