@font-face {
  font-family: 'Montserrat';
  src: url(
    ../../../../assets/fonts/Montserrat-Regular.otf
  );
}

$primary-text-color: #4685ff;
$secondary-text-color: #bfc6c2;


.feature-container {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 3rem;

  font-family: 'Montserrat';

  h3 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #1D1D1D;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.7rem;
    font-weight: 400;
    color: $secondary-text-color;
    margin-bottom: 1rem;
  }
}