<div class="overlay" (click)="onCloseModal()"></div>


<div class="modal-container" (click)="onCloseModal()">
  <div class="modal-logo">
    <img src="assets/images/logo.png" alt="">
  </div>
  
  <div class="modal">

    
    <div>
      <h3 class="tertiary-text">
        Thanks for downloading our template!
      </h3>
      <p class="secondary-text">
        Hope that you enjoy it! Check also our site
      </p>
    </div>
    <div class="modal-link">
      www.symu.com
    </div>
  </div>
  
</div>
