
.hero-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  text-align: center;

  h2, p {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
  }
}

.hero-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;

 
}

.top-button {
  z-index: 1;
  margin-bottom: -5rem;
}

.landing-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    
    width: 100vw;
    object-fit: contain
  }

  @media screen and (max-width: 768px)
  {
    img {
      width: 100vw;
      object-fit: cover;
      margin: 5rem 0;
    }
  }
}

.hero-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 7rem;
  margin-bottom: 7rem;
}