
.button-container {
  position: relative;
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 0.9rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}

.button-container:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}